.results-table {

    border-collapse: collapse;
    margin: 20px auto;
    margin-top: -25%;
    font-size: 2em;
    min-width: 400px;
}

.results-table thead tr {
    color: white;
    text-align: left;
    font-weight: bold;
}

.results-table thead th {
    padding: 50px;
}

.results-table td {
    padding: 12px 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.loading-gif {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}