.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title{
    color: white;
    font-size: 3em;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.return-link {
    color: rgb(66, 65, 65);
    text-decoration: none; 
    font-size: 1.5em; 
    display: inline-block; 
    margin-top: -15em;
    margin-right: 40px;
}

.return-link:hover {
    color: rgb(13, 13, 15);
}

.circuit-name {
    color: rgb(66, 65, 65);
    margin-top: -8em;
    position: relative;
    left: 10px;
    font-size: medium;
}

.date {
    position: relative;
    left: 10px;
    font-size: larger;
    color: white;
}

.round {
    position: relative;
    left: 10px;
    font-size: larger;
    color: white;
    margin-top: -0.1em;
}

.country {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 14.3em;
    margin-left: 50em;
}

.line {
    border-bottom: 5px solid rgb(77, 76, 76);
    margin-top: 5px;
    width: 90%;
    margin-left: 60px;
}
